{% set gallery = gallery | split(pat="|") %}
<div class="columns">
    {% for image in gallery %}
    <div class="column is-one-third">
        <div class="card">
            <div class="card-image">
                <figure class="image image is-16by9">
                    <a href="{{ image }}">
                        <img src="{{ image }}" alt="Rover">
                    </a>
                </figure>
            </div>
        </div>
    </div>
    {% if loop.index is divisibleby(3) %}
</div>
<div class="columns">
    {% endif %}
    {% endfor %}
</div>
