{% set url = src %}
<div class="columns">
    <div class="column"></div>
    <div class="column">
        <a href="{{ url }}">
            <figure class='image'>
                <img src='{{ url }}' {% if title %}alt='{{ title }}' title='{{title}}'{% endif %}>
            </figure>
        </a>
    </div>
    <div class="column"></div>
</div>
