<footer>
  <div container>
    <p>Found an issue? Report it <a href="https://gitlab.com/mdaffin/mdaffin.gitlab.io/issues">here</a>.</p>
    <div row>
      <div column="6 +3">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </div>
    </div>
  </div>
</footer>
{{ template "_internal/google_analytics_async.html" . }}
</body>
</html>
