<nav class="navbar">
  <div container>
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/">Blog</a></li>
      <!--<li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>-->
      <li class="navbar-item"><a class="navbar-link" href="https://github.com/mdaffin">Github</a></li>
    </ul>
  </div>
</nav>
