{{ partial "header.html" . }}
<header>
  <div container>
    <h1>{{ .Site.Title }}</h1>
    <h6>Programming, Linux and all things Open Source</h6>
  </div>
{{ partial "navbar.html" . }}
</header>
<section>
  <div container>
    <h3>Error 404: File not found</h3>
    <p>We could not find the page you where looking for click <a href="/">here</a> to go back to the home page.</p>
  </div>
</section>
{{ partial "footer.html" . }}
