{{ partial "header.html" . }}
<header>
  <div container>
    <h1>{{ .Title }}</h1>
    <h6>Programming, Linux and all things Open Source</h6>
  </div>
  {{ partial "navbar.html" . }}
</header>
<section>
  {{ range where .Data.Pages "Section" "blog" }}
  <a class="panel" href="{{ .Permalink }}">
    <div container>
      <h3>{{ .Title }}</h3>
      <time class="date">{{ dateFormat "2 Jan 2006" .Date }}</time>
      <p>{{ .Description }}</p>
    </div>
  </a>
  {{ end }}
</section>
{{ partial "footer.html" . }}