<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="{{ config.extra.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <base href="{{ config.base_url }}">
        <link rel="stylesheet"
              href="{{ get_url(path="main.css", trailing_slash=false) }}">
        <script defer
              src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
        <link rel="stylesheet"
              href='https://fonts.googleapis.com/css?family=Lato:400,700,300'
              type='text/css'>
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <title>{% block tab_title %}{{ config.title }}{% endblock tab_title %}</title>
    </head>
    <body>
        <section class="hero is-dark">
            <div class="hero-body">
                <div class="container">
                    {% block header_title %}
                    <h1 class="title">
                        {{ config.title }}
                    </h1>
                    <h2 class="subtitle">
                        {{ config.extra.tagline }}
                    </h2>
                    {% endblock header_title %}
                </div>
            </div>
            <div class="hero-foot">
                <nav class="navbar is-transparent">
                    <div class="container">
                        <div class="navbar-tabs">
                            {% if false %}
                            <a class="navbar-item is-tab" href="https://github.com/mdaffin">
                                <span class="icon"><i class="fas fa-user fa-lg"></i></span>
                                About
                            </a>
                            {% endif %}
                            <a class="navbar-item is-tab is-active" href="{{ get_url(path="") }}">
                                <span class="icon">
                                    <i class="fas fa-bars fa-lg"></i>
                                </span>
                                Blog
                            </a>
                                <a class="navbar-item is-tab" href="https://github.com/mdaffin">
                                    <span class="icon"><i class="fab fa-github fa-lg"></i></span>
                                </a>
                                <a class="navbar-item is-tab" href="https://gitlab.com/mdaffin">
                                    <span class="icon"><i class="fab fa-gitlab fa-lg"></i></span>
                                </a>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        {% block content %}
        <section class="section">
            <div class="container">
                <div class="list-posts">
                    {% set blog = get_section(path="blog/_index.md") %}
                    {% for page in blog.pages %}
                    {% if page.date %}
                    <article class="media">
                        <figure class="media-left">
                            <a href="{{ page.permalink }}">
                                <p class="image is-64x64">
                                {% if page.extra.thumbnail %}
                                <img src="{{ page.extra.thumbnail }}">
                                {% endif %}
                                </p>
                            </a>
                        </figure>
                        <div class="media-content">
                            <a href="{{ page.permalink }}">
                                <p>
                                <strong>{{ page.title }}</strong> <small><em>{{ page.date | date(format="%e %b %Y") }}</em></small>
                                <br>

                                {{ page.description }}
                                </p>
                            </a>
                        </div>
                    </article>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endblock content %}

        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>Found an issue? Report it <a href="https://gitlab.com/mdaffin/mdaffin.gitlab.io/issues">here</a>.</p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                        <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                    </a>
                    <p>Disconnected Systems by Michael Daffin.
                    Site content is licensed under
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                        Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
                </div>
            </div>
        </footer>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57006875-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-57006875-2');
        </script>
    </body>
</html>
